@import url("https://use.typekit.net/mld2goz.css");
@import "tailwindcss";

@theme {
  --font-adventures: adventures-unlimited, sans-serif;
  --font-area: area-normal, sans-serif;
  --font-coolvetica: coolvetica, sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 35s linear infinite;
}
